# ---- Terraform ----
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# ---- Docker ----
*.log
docker-compose.override.yml
.dockerignore

# ---- Node / React ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-store/
build/

# ---- OS / Editor ----
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
